# Verification

The following CLI commands shows the verification of a W3C Verifiable Credential.

```
./ssikit.sh vc verify vc.json

Verifying from file "vc.json"...

Results:

SignaturePolicy:         true
Verified:                true

```

More examples will be added shortly. If you have any questions, please feel free to [reach out](../../contact-and-developer-relations/contact.md).
